@import url('https://fonts.googleapis.com/css2?family=Iceland:wght@400');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400');

:root{
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: auto;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
}